---
import { TALKS } from "@consts";
import { getFilteredCollectionEntries } from "@lib/utils";
import TalkCardButton from "@components/TalkCardButton.astro";
import RootPageIndex from "@components/RootPageIndex.astro";

const { entries } = await getFilteredCollectionEntries("talks");
---

<RootPageIndex title={TALKS.title}>
  {
    (
      <ul class="animate not-prose flex flex-col gap-4">
        {entries.map((project) => (
          <li>
            <TalkCardButton entry={project} />
          </li>
        ))}
      </ul>
    )
  }
</RootPageIndex>
