---
import ArrowCardButton from "@components/ArrowCardButton.astro";
import RootPageIndex from "@components/RootPageIndex.astro";

import { CONTACT } from "@consts";

const linkedInContact = CONTACT.find((contact) => contact.type === "LinkedIn");
---

<RootPageIndex title="Resume">
  <div class="animate mb-4">
    <p class="mb-1">The PDF resume:</p>
    <section>
      <ArrowCardButton
        href="resume/resume.pdf"
        text="Download PDF"
        openInNewTab
      />
    </section>
  </div>
  <div class="animate mb-4">
    <p class="mb-1">The DOCX resume:</p>
    <section>
      <ArrowCardButton
        href="resume/resume.docx"
        text="Download DOCX"
        openInNewTab
      />
    </section>
  </div>

  {
    linkedInContact && (
      <div class="animate mb-4">
        <p class="mb-1">Or you can check my LinkedIn profile:</p>
        <section>
          <ArrowCardButton
            href={linkedInContact.href}
            text="Navigate to LinkedIn"
            openInNewTab
          />
        </section>
      </div>
    )
  }
</RootPageIndex>
