---
import ArrowCardButton from "@components/ArrowCardButton.astro";
import RootPageIndex from "@components/RootPageIndex.astro";

import { CONTACT } from "@consts";
---

<RootPageIndex title="contact">
  <p class="animate mb-2">
    I prefer LinkedIn, but you can also contact me using:
  </p>
  {
    CONTACT.map((contact) => (
      <div class="animate my-4">
        <section>
          <ArrowCardButton
            href={contact.href}
            title={contact.name}
            description={contact.displayName}
          />
        </section>
      </div>
    ))
  }
</RootPageIndex>
