---
import TextLink from "@components/TextLink.astro";
import { resolvePath } from "@lib/utils";

type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>
  <p>
    Astro Milidev is a minimalistic blog+portfolio <TextLink
      href="https://astro.build">Astro</TextLink
    > theme.
  </p>
  <p>
    It originates from <TextLink
      href="https://github.com/trevortylerlee"
      external>Trevor Lee</TextLink
    >'s <TextLink href="https://astro-micro.vercel.app/" external
      >Astro Micro</TextLink
    >
    theme, which is based on <TextLink
      href="https://github.com/markhorn-dev"
      external>Mark Horn</TextLink
    >'s <TextLink href="https://astro-nano-demo.vercel.app/"
      >Astro Nano</TextLink
    > (after "nano" and "micro" comes "mili", hence the first part of the name).
  </p>
  <p>
    I tailored the original theme for my personal website <TextLink
      href="https://lenar.dev">lenar.dev</TextLink
    > (hence the second part of the name), added a few features, refactored essential
    code parts and released as an independent GitHub project.
  </p>
  <p>
    The full changelog is available <TextLink
      href={resolvePath("/blog/everything-new-in-astro-milidev")}
      >in this post</TextLink
    >.
  </p>
</div>
