---
import TextLink from "@components/TextLink.astro";

type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>
  <p>
    Essentially, it's the <TextLink href="https://astro-micro.vercel.app/"
      >Astro Micro</TextLink
    > theme by
    <TextLink href="https://github.com/trevortylerlee">Trevor Lee</TextLink>,
    but with a few tweaks here and there.
  </p>
  <p>
    It's a base theme for my own blog that I released as a standalone Astro
    theme just to prove that even a backend engineer like myself can jump in the
    frontend world if needed and deliver a lot of value within a single day of
    work.
  </p>
  <p>
    All of the changes are briefly listed <TextLink
      href="blog/mili-dev-changelog">in this post</TextLink
    >.
  </p>
</div>
