---
import { resolvePath } from "@lib/utils";

interface Props {
    tag: string;
    entriesCount?: number;
}

const { tag, entriesCount } = Astro.props;
---

<a
    href={resolvePath(`/tags/${tag}`)}
    class="rounded border border-black/15 px-2 py-1 transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
>
    <span class="text-gray-500">#</span>
    {tag}
    {
        entriesCount !== undefined ? (
            <span class="ml-2 text-sm text-gray-500">({entriesCount})</span>
        ) : undefined
    }
</a>
