---
import RootPageIndex from "@components/RootPageIndex.astro";
import ProjectCardButton from "@components/ProjectCardButton.astro";

import { PROJECTS } from "@consts";
import { getFilteredCollectionEntries } from "@lib/utils";

const { entries } = await getFilteredCollectionEntries("projects");
---

<RootPageIndex title={PROJECTS.title}>
  {
    (
      <ul class="animate not-prose flex flex-col gap-4">
        {entries.map((project) => (
          <li>
            <ProjectCardButton entry={project} />
          </li>
        ))}
      </ul>
    )
  }
</RootPageIndex>
